{% extends 'base.html.twig' %}

{% block title %}profile {{app.user.email}}{% endblock %}
{% block body %}

<div class="container text-center">
  <h1 class="my-5">Profile de {{app.user.FullName}}</h1>
  <div class="row">
    <div class="col-md-12 mt-5">
      <div class="jumbotron bg-light">
        <h4>Les bracelets lier a votre compte</h4>
        <hr>
        {% for SerialNumber in app.user.userSerialNumber %}
        <h4>Bracelet : {{SerialNumber.wristletTitle}}</h4>
        <p>
          <a href="{{path('wristlet', {'id': SerialNumber.id}) }}" class="btn btn-info">Plus
            d'informations</a>
        </p>
        {% endfor %}
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>

  </div>

</div>

{% endblock %}