{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body%}

    <div class="container ">
        <div class="row ">
            <div class="col-md-12 mt-4">
                <h1 class="my-5 text-center">Modification du mot de passe de {{app.user.FullName}}</h1>
                <div class="jumbotron bg-light">

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-primary float-right"><i class="fas fa-check"></i> Enregistrer le nouveau mot de passe</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}