{% extends 'base.html.twig' %}

{% block title %}profile {{app.user.email}}{% endblock %}
{% block body %}

<div class="container-fluid text-center">
  <h1 class="my-5">Les bracelets lier a votre compte</h1>
  <table class="table table-striped table-hover text-center">


    <thead class="thead-light ">
      <tr>
        <th>Nom du bracelet</th>
        <th></th>
      </tr>
    </thead>
    {% for SerialNumber in app.user.motherFor %}
    <tbody>

      <td>
        <h4>{{SerialNumber.wristletTitle}}</h4>
      </td>
      <br>
      <td>
        <a href="{{path('wristlet', {'id': SerialNumber.id}) }}" class="btn btn-info"><i class="fas fa-heartbeat"></i>
          Voir le rythme cardiaque</a>
        <br>
      </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  <br>


</div>
</div>

</div>

</div>

{% endblock %}