{% extends 'base.html.twig' %}

{% block title %}Pour nous contacter{% endblock %}

{% block body %}
<div class="container">
    <div class="card-body bg-dark mt-5">
    
        {{ form_start(form) }}
    
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
