{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
            
                <img src="https://place-hold.it/400x400/" alt="">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique doloribus
                        doloremque veritatis sequi nesciunt nostrum, totam molestias magni autem! Accusamus recusandae
                        consectetur sed a id. Quae obcaecati illo dolores doloribus?
                        Dolor possimus voluptate facere totam, eveniet distinctio, dolore non alias officia fuga, quis
                        labore mollitia ea similique ab repellat dolorem sint recusandae. Aspernatur esse placeat
                        exercitationem officiis. Voluptatum, obcaecati quidem!
                        Earum voluptatum officia repudiandae molestias quia animi dolorum, mollitia dolore commodi,
                        ratione minus impedit dolor illum, fugit iure id ipsa distinctio! Repudiandae nisi maiores
                        deserunt! Culpa expedita suscipit laborum magnam.
                        Repudiandae incidunt, fuga delectus expedita nisi, est quidem at placeat reiciendis sunt
                        facilis harum dolores laboriosam ullam quaerat unde nesciunt non? Eos maxime quae minus
                        corrupti quam! Necessitatibus, inventore sequi!
                        Vel repellat possimus explicabo impedit natus distinctio soluta, est mollitia error ratione
                        quod modi quidem nobis aliquam saepe, quia velit doloribus magni. Fugit consequuntur
                        reiciendis, quibusdam ipsum cumque assumenda vel?
                        Qui maxime incidunt magnam exercitationem, fugit natus. Voluptas cumque sint totam distinctio
                        delectus nam tempore fuga iure quod tenetur necessitatibus at, eaque provident dicta est earum,
                        libero reprehenderit eos reiciendis!
                        ferendis tempora saepe dolore obcaecati nostrum, placeat impedit magnam earum eos! Quaerat quia
                        est quas quis laudantium officia ea.</p>
                   
                </div>
            </div>
        </div>
            <div class="card bg-light mb-12">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique doloribus
                        doloremque veritatis sequi nesciunt nostrum, totam molestias magni autem! Accusamus recusandae
                        consectetur sed a id. Quae obcaecati illo dolores doloribus?
                        Dolor possimus voluptate facere totam, eveniet distinctio, dolore non alias officia fuga, quis
                        labore mollitia ea similique ab repellat dolorem sint recusandae. Aspernatur esse placeat
                        exercitationem officiis. Voluptatum, obcaecati quidem!
                        Earum voluptatum officia repudiandae molestias quia animi dolorum, mollitia dolore commodi,
                        ratione minus impedit dolor illum, fugit iure id ipsa distinctio! Repudiandae nisi maiores
                        deserunt! Culpa expedita suscipit laborum magnam.
                        Repudiandae incidunt, fuga delectus expedita nisi, est quidem at placeat reiciendis sunt
                        facilis harum dolores laboriosam ullam quaerat unde nesciunt non? Eos maxime quae minus
                        corrupti quam! Necessitatibus, inventore sequi!
                        Vel repellat possimus explicabo impedit natus distinctio soluta, est mollitia error ratione
                        quod modi quidem nobis aliquam saepe, quia velit doloribus magni. Fugit consequuntur
                        reiciendis, quibusdam ipsum cumque assumenda vel?
                        Qui maxime incidunt magnam exercitationem, fugit natus. Voluptas cumque sint totam distinctio
                        delectus nam tempore fuga iure quod tenetur necessitatibus at, eaque provident dicta est earum,
                        libero reprehenderit eos reiciendis!
                        ferendis tempora saepe dolore obcaecati nostrum, placeat impedit magnam earum eos! Quaerat quia
                        est quas quis laudantium officia ea.</p>
                   
                </div>
            </div>
        </div>

    </div>
{% endblock %}
