{% extends 'emails/mailBase.html.twig' %}
{% block body %} 

                                               
                             
                    <tr>
                        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                            <div style="font-family:helvetica;font-size:20px;line-height:1;text-align:left;color:#F45E43;">
                                <p>
                                    Bonjour, <br>
                                    Cliquez sur ce lien pour valider votre compte.

                                    <a href="{{absolute_url(path('validate', {'id':user.id, 'token': user.token}))}}">Valider votre compte</a>
                                </p>
                            </div>
                        </td>
                    </tr>
           

{% endblock %}
