{% extends 'emails/mailBase.html.twig' %}
{% block body %}

                        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                            <div style="font-family:helvetica;font-size:20px;line-height:1;text-align:left;color:#F45E43;">
                                Sujet : Réponse de la demande de liaison pour le bracelet
                                {{serialNumber.wristletTitle}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                            <div style="font-family:helvetica;font-size:20px;line-height:1;text-align:left;color:#F45E43;">
                                <p>
                                    Bonjour, <br>votre demande de liaison avec le bracelet
                                    {{serialNumber.wristletTitle}}, a été refusée et bloquée, vous ne pourrez plus faire de demande pour ce bracelet.
                                    
                            </div>
                        </td>
                    </tr>
            

{% endblock %}