{% extends 'emails/mailBase.html.twig' %}
{% block body %}
<td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
    <div style="font-family:helvetica;font-size:20px;line-height:1;text-align:left;color:#F45E43;">
        Sujet : Demande de liaison avec un bracelet dont vous étes le référent</div>
</td>
</tr>
<tr>
    <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
        <div style="font-family:helvetica;font-size:20px;line-height:1;text-align:left;color:#F45E43;">
            <p>
                Bonjour, <br>Une demande
                de <strong>{{user.email}}</strong>, pour lier son compte avec le bracelet <strong>{{serialNumber.wristletTitle}}</strong>.
            
                <a
                    href="{{absolute_url(path('mother_response', {'id':requested.id, 'token': requested.requestedToken}))}}">cliquer ici pour repondre a cette demande</a>
            </p>


        </div>
    </td>
</tr>
{% endblock %}