{% extends 'base.html.twig' %}

{% block title %}Accueil K.I.S{% endblock %}

{% block body %}
<div class="container-fluid mt-5">
    <div class="text-center bg-light">
        <strong>
            <span style="font-size:16px;">MENTIONS LEGALES
            </span>
        </strong>
    </div>
    <br />
    
    <br />
    <div class="text-center bg-light">
        <strong>Informatique & Libertés
        </strong>
        <hr>
        <br />
        <br />Conformément à la loi du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés,
        www.societekis.fr a fait l'objet d'une déclaration auprès de la CNIL sous le numéro 1200538.
        <br />
        <br />Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous
        concernent. Vous pouvez exercer ce droit en nous contactant via societe.kiss&#64;gmail.com ou par courrier
        postal
        envoyé à l’adresse suivante :
        <br />
        <br />Société K.I.S
        <br />4 rue du luxembourg
        <br />30140 Anduze
        <br />
        <br />Le site internet www.societekis.fr a recours à l'utilisation de cookies afin de reconnaître l’utilisateur
        lors
        de sa connexion sur son site. L'utilisateur peut à tout moment désactiver l'utilisation de ces cookies en
        sélectionnant les paramètres appropriés dans son navigateur.
        <br />
        <br />
    </div>
    <br />
    <div class="text-center bg-light">
        <strong>Société
        </strong>
        <hr>
        <br />
        <br />www.societekis.fr est un site édité par la société Société K.I.S.
        <br />
        <br />Société K.I.S est une SARL au capital de 20000 euros, dont le siège social est à Anduze (30140) 4 rue du
        luxembourg, immatriculée au registre du commerce et des sociétés de Alès sous le numéro 9870652035.
        <br />
        <br />Directeur de la publication : Monsieur julien casanova.
        </span>
        <br />
        <br />
    </div>
    <br />
    <div class="text-center bg-light">
        <strong>Propriété Intellectuelle
        </strong>
        <hr>
        <br />
        <br />L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur et la
        propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris les représentations
        iconographiques et photographiques. La reproduction, adaptation et/ou traduction de tout ou partie de ce site
        sur un
        support quel qu'il soit, est formellement interdite sauf autorisation expresse du Directeur de la publication.
        <br />
        <br />
    </div>
    <br />
    <div class="text-center bg-light">
        <strong>Modification du site
        </strong>
        <hr>
        <br />
        <br />L'équipe éditoriale se réserve le droit de modifier ou de corriger le contenu de ce site et de ces
        mentions
        légales à tout moment et ceci sans préavis.
        <br />
        </div>
    <br />
    <div class="text-center bg-light">
        <strong>Hébergeur
        </strong>
        <hr>
        <br />
        <br />Le site www.societekis.fr est hébergé par la société OVH.
        <br />
        <br />OVH
        <br />2 rue Kellermann
        <br />59100 Roubaix
    </div>
</div>
{% endblock %}