{% extends 'base.html.twig' %}

{% block title %}Accueil K.I.S{% endblock %}

{% block body %}
<div class="parallax">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6 col-sm-9  mt-5 pl-5">
                <span class="text-primary">Le bracelet Keep in safe</span>
                <h1 class="text-primary">KIS, toujours connecté, toujours protégé ! </h1>
                <br>

                <div class="row">
                    <div class="col-sm-8 mb-3">
                        <h3 class="text-primary">Le bracelet de sécurité connecté :</h3>
                        <p class="text-primary">
                            prévient vos proches instantanément en cas de chute. <br>

                            KIS un vrai ange gardien, vous restez
                            libre,
                            indépendant et protégé en permanence.</p>
                    </div>
                </div>
                </p><a href="{{path('how_it_work')}}" class="btn btn-outline-primary btn-white">Comment cela fonctionne
                    ?</a><br /><br />
            </div>

        </div>
    </div>
</div>
<div class="container-fluid mt-5 ">
    
    <div class="row mb-5">
        <div class="col-md-12">
            <h4  class=" containe text-primary mt-5">Bienvenue chez K.I.S</h4>
            <p>
                Jeune start-up inovante, basée à la porte des cevennes <strong>"Anduze"</strong></p>
            <p>
                Nous avons pour objectif d'apporter confort et sécurité en facilitant la
                technologie numérique pour toutes les générations.
            </p>
            <p>
                <strong>Le bracelet KIS</strong> est notre premier produit destiné aux seniors.
                Bien que notre entreprise soit encore jeune, nous nourrissons de grandes ambitions pour le futur et
                prévoyont de nombreux autres produits connectés !.
            </p>
        </div>
    </div>
</div>
<br>
<br>
<br>

<h5 class=" containe text-primary mt-5 border border-primary text-center">On participait au projet du bracelet KIS</h5>
<br>
<div class="container-fluid text-center">
    <div class="row mt-5">

        <div class="col-md-6 ">
            <div class="row">

                <div class="col-md-6">
                    <img src="../img/Team/Casanova_Julien.jpg" alt="" class="rounded-circle border border-primary">
                    <p>
                        Julien Casanova
                    </p>
                    <img src="../img/Team/Cécile_Dufour.jpg" alt="" class="rounded-circle border border-primary">
                    <p>
                        Cécile Dufour
                    </p>
                </div>

                <div class="col-md-6">
                    <img src="../img/Team/Clémence_Ledoux.jpg" alt="" class="rounded-circle border border-primary">
                    <p>
                        Clémence Ledoux
                    </p>

                    <img src="../img/Team/Michelle_Martin.jpg" alt="" class="rounded-circle border border-primary">
                    <p>
                        Michelle Martin
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6"><img src="../img/Team/Zacharie_Pineau.jpg" alt="" class="rounded-circle border border-primary">
                    <p>
                        Zacharie Pineau
                    </p>
                    <img src="../img/Team/Emmanuel_Michaud.jpg" alt="" class="rounded-circle border border-primary">
                    <p>
                        Emmanuel Michaud
                    </p>
                </div>



                <div class="col-md-6"><img src="../img/Team/Robert_Ngyuen.jpg" alt="" class="rounded-circle border border-primary">
                    <p>
                        Robert Nguyen
                    </p>
                    <img src="../img/Team/Elodie_Duval.jpg" alt="" class="rounded-circle border border-primary">
                    <p>
                        Elodie Duval
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../img/Home/Polar-1.jpg" alt="" class="img-fluid">


        </div>
        
    </div>

</div>


{% endblock %}