<div class="footer mt-5">
	<div class="footer1">
		<div class="container-fluid">

			<div class="container ">
				<div class="row">
					<div class="col-sm-4">
						<h2>About Us</h2>
						<p>
							<i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-1x"> </i><br>

							<i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-1x"> </i><br>

							<i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-1x"> </i><br>

							<i class="fab fa-linkedin-in fa-lg white-text mr-5 mr-3 fa-1x"> </i><br>

						</p>

					</div>
					<div class="col-sm-4">
						<h2>Home</h2>
						<p>
							<i class="fa fa-home"></i>    <a href="{{ path('homepage')}}"> Home</a><br>
							<i class="fa fa-user"></i>    <a href="{{ path('description')}}"> About Us</a><br>
							<i class="fa fa-map-marker"></i>    <a href="{{ path('contact')}}"> Contact Us</a><br>
							<i class="fa fa-question-circle"></i>    <a href="#"> Term & Conditions</a><br><br>


						</p>


					</div>
					<div class="col-sm-4 ">
						<h2>Contact Us</h2>
						<p>

							<i class="fa fa-phone"></i>    <a href="tel:0123456789"> +0123456789</a><br>
							<i class="fa fa-envelope"></i>    <a href="mailto:abc@abc.com"> abc@abc.com</a><br>
							
						</p>

						<br>
					</div>
				</div>
				
			</div>
		</div>
	</div>


	<div class="footer2">
		<div class="container-fluid">
			<div class="container">
				<div class="row">
					
					<div class="col-sm-12 text-center">
						<p><strong>copyright © 2019 All right reserved.</strong></p>
					</div>
					
				</div>

			</div>

		</div>
	</div>
</div>
