<div class="footer mt-5">
	<div class="footer1">
		<div class="container-fluid">

			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<h2>A Propos de nous</h2>
						<p>
							<i class="fab fa-facebook-f fa-lgfa-1x fal"> </i><br>

							<i class="fab fa-twitter fa-lgfa-1x fal"> </i><br>

							<a href="https://github.com/Rukza"><i class="fab fa-github fa-lg fa-1x fal" fal></i></a><br>

							<a href="https://www.linkedin.com/in/julien-casanova/"><i class="fab fa-linkedin-in fa-lg fa-1x fal"></i></a><br>

						</p>

					</div>
					<div class="col-sm-4">
						<h2>Plan du site</h2>
						<p>
							<i class="fa fa-home fal"></i>  <a href="{{ path('homepage')}}">Accueil</a><br>
							<i class="fa fa-user fal"></i><a href="{{ path('how_it_work')}}"> Fonctionnement du bracelet</a><br>
							<i class="fa fa-map-marker fal"></i><a href="{{ path('contact')}}"> Contactez nous</a><br>
							<i class="fa fa-question-circle fal"></i><a href="{{path('general_mention')}}"> Mention générale</a><br><br>


						</p>


					</div>
					<div class="col-sm-4 ">
						<h2>Nous joindres</h2>
						<p>

							<i class="fa fa-phone fal"></i><a href="tel:0651695187"> +0651695187</a><br>
							<i class="fa fa-envelope fal"></i><a href="mailto:abc@abc.com"> society.kis@gmail.com</a><br>
							
						</p>

						<br>
					</div>
				</div>
				
			</div>
		</div>
	</div>


	<div class="footer2">
		<div class="container-fluid">
			<div class="container">
				<div class="row">
					
					<div class="col-sm-12 text-center">
						<p><strong>copyright © 2019 Society K.I.S  All right reserved.</strong></p>
					</div>
					
				</div>

			</div>

		</div>
	</div>
</div>
