{% extends 'base.html.twig' %}

{% block title %}Vous n'avez pas le droit d'accéder à cette ressource{% endblock %}

{% block body %}


<div class="container mt-5">
    <div class="col-md-12 mb-5">
        <div class="jumbotron">
            <h1>Vous n'avez pas le droit d'accéder à cette ressource !</h1>
            <p>Merci de retourner à l'accueil</p>
            <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
        </div>
    </div>


</div>
{% endblock %}