{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="col-md-12 mb-5">
<div class="jumbotron">
        <h1>Une erreur est survenu</h1>
        <p>Merci de retourner a l'accueil</p>

    <a href="{{ path('homepage') }}" class="btn btn-primary">Retour a l'accueil</a>
    </div>
</div>


</div>

{% endblock %}